<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type=image/x-icon href=https://n2o.dev/img/favicon.ico />
    <link rel="stylesheet" type="text/css" href="https://github.com/synrc/sample/blob/master/priv/static/synrc.css">
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>
    <a href="/room1"><button>Room #1</button></a>
    <a href="/room2"><button>Room #2</button></a>
    <a href="/room3"><button>Room #3</button></a>
  </body>
</html>
